
#container {
    background:linear-gradient(45deg, rgb(223, 168, 19), #462907) ;
    border: 2px black double;
}

header {
    text-align: center;
}
section {
    text-align: center;
    margin: 50px;
}

div {
    text-align: center;
}

footer {
    text-align: right;
}
